@{
 var error = (bool)ViewData["error"];
 var loginSuccessfull = (bool)ViewData["loginSuccessfull"];
 var userNotFound = (bool)ViewData["userNotFound"];
}
<div class="container-fluid" style="margin-top:20px">
  <h2>Login Page</h2>
</div>
@if(error)
{
 <div class="alert alert-error" role="alert">
   Something went wrong!
 </div>
}
@if(loginSuccessfull)
{
 <div class="alert alert-error" role="alert">
   Logged in!
 </div>
}
@if(userNotFound)
{
 <div class="alert alert-error" role="alert">
   User not found. Please <a href="/user/register">register</a> here
 </div>
}
<div class="container-fluid" style="margin-top:20px">
<form action="/user/login" method="post">
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
